{% extends 'base.html' %}

{% block content %}
<div class="container-signup">
    <h2>Sign Up NOW!</h2>
    <div class="signup-boxed">
        <form action="{{ url_for('auth.signup') }}" method="post">
            <div><label><input type="email" name="email" placeholder="Email" required/></label></div>
            <br/>
            <div><label><input type="text" name="username" placeholder="Username" required/></label></div>
            <br/>
            <div><label><input type="password" name="password" placeholder="Password" required/></label></div>
            <br/>
            <div><label><input type="password" name="password_repeat" placeholder="Repeat password" required/></label></div>
            <br/>
            <div class="submit-signup"><button type="submit">Sign Up</button></div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p class="notification">{{ message }}</p>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}


