<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>Title</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="../templates/main/index.html"><img class="logo" src="../static/zoo-logo.png" alt="logo"/></a>
                <ul class="barnav">
                    <li><a href="{{ url_for('main.index') }}">Zoo</a></li>
                    <li><a href="{{ url_for('main.animals') }}">Animals</a></li> 
                    <li><a href="{{ url_for('main.activities') }}">Activities</a></li> 
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">SignUp</a></li>
                </ul>
             </nav>
        </header>
        
        <section class="content">
                <div class="container-title">
                    <h1 class="title">Aqui va el primer titulo</h1>
                </div>
                <div class="container-middle">
                    <div class="middlte title">
                        <h6>Actividades</h6>
                        <p>Aqui va descripción entremedias sobre las actividades</p>
                    </div>
                </div>
            <!-- {% block content %}{% endblock %} -->
        </section>
        
        <footer>
            <small>
                <p><a href="{{ url_for('main.index') }}">Home</a></p>
                <p>All website content is the property of LEGANES ZOOLOGICAL CORPORATION. All rights reserved.</p>
                <p>© Copyright 2022</p>
            </small>
        </footer>
    </body>
</html>