{% extends "base.html" %}

{% block content %}
<section>
    <h2 class="heading">ACTIVITIES</h2>
</section>

{% for activity in activities %}
<div class="activity">
    <h3>{{ activity.title }}</h3>
        <div class="description">
            <p>{{ activity.description }}</p>
        </div>
        {% for act in cheduleds %}
                {% if act.activity_id == activity.id  %}
                    <p>A session is scheduled the {{act.date}} starting at {{act.stating_time}}</p> 
                {%endif%}  
        {% endfor %}
    <div>
        <img class="image" src=.../static/img/...>
    </div>
    <div class="signup">
        
    </div>
</div>
    {% endfor %}
{% endblock %}