{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='booking.js')}}></script>
    <script type="text/javascript">
        var act_dates = {{ act_dates|tojson }}
    </script>
    
</head>


<h1>Customer</h1>

<h2>Book an activities</h2>
<form action="{{ url_for('main.booking') }}" method="post"></form>
    <select id="accessories" name="activity_title_booked" >
    {% for activity in act_dates %}
            <option>
                {{ activity}}
            </option>
        </select>
            {% for date in act_dates[activity]  %}
            <option>
                {{ date}}
            </option>  
    {% endfor %} 
    {% endfor %}   
</select>
        
    <div><label>How many places do you want ? <input type="number" name="places_booked" required/></label></div>
    <div><input type="submit" value="Submit"/></div>
</form>


<h2>Your current bookings</h2>

{% endblock %}