{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    var act_dates = {{ act_dates|tojson }}
    var act_id = {{ act_id|tojson }}
</script>

<div class="customer-container">
    <h1>Customer</h1>    
    <h2>Book the activities</h2>
    
    <form action="{{ url_for('main.booking') }}" method="post" id="act_booked">        
            <li><label>Choose the activity:  </label>
                <select name="activity_title_booked" id="activity_title_booked" >    
                    {% for activity in act_dates %}  
                    <option>{{activity}}</option>
                    {% endfor %} 
                </select></li>
            <li><label>Choose the date:  </label>
                <select name="date_chosen" id="date_chosen">
                </select>
            </li>
        <li><label>How many places do you want?:  </label><input type="number" name="places_booked" value="1" min="1" max="99" required/></li>
        <li><button type="submit">Add</button></li>
    </form>
    
    {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p class="notification-customer">{{ message }}</p>
            {% endfor %}
    {% endwith %}

    <h2>Your current bookings</h2>
    <table>
        <thead>
        <tr>
            <td>Activity</td>
            <!--<td>Date</td>-->
            <td>Places</td>
            <td>Reservation id</td>
            <td>Reservation Date</td>
            
            
        </tr>
        </thead>
        <tbody>
        
        {% for reservation in reservations %}
            {% if reservation.user_id == current_user.id%}
                <tr>
                    <td>{{reservation.activity_id}}</td>
                    <td>{{reservation.places}}</td>
                    <td>{{reservation.id}}</td>
                    <td>{{reservation.date}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        
    </table>
</div>

{% endblock %}