{% extends 'base.html' %}

{% block content %}
<div class="container-title">
    <h1 class="title">Zoological Park</h1>
</div>

<div class="container-middle">
    {% if current_user.is_authenticated: %}
    <a href="{{ url_for('main.customers') }}"><img src="{{ url_for('static', filename='falcon.jpg') }}" alt="falcon"/></a>
    {% else %}
    <img src="{{ url_for('static', filename='falcon.jpg') }}" alt="falcon"/>
    {% endif %}
    <h2>Activities</h2>
    <p>We offer a number of different activities that allow you to get involved with our animals.</p>
</div>

<div>
<h2>Here are the currently available activities</h2>
{% for activity in activities %}
    {% if activity.is_marked %}
        <div class="activity">
            <h3>{{ activity.title }}</h3>
                <div class="description">
                    <p>{{ activity.description }}</p>
                </div>
                <!--
                    {% for act in scheduleds %}
                        {% if act.activity_id == activity.id  %}
                            <p>A session is scheduled the {{act.date}} starting at {{act.stating_time}}</p> 
                        {%endif%}  
                    {% endfor %}
                -->
                
            <div>
                <img class="image" src=.../static/img/...>
            </div>
            <div class="signup">
                
            </div>
        </div>
    {%endif%} 
{%endfor%} 
    
</div>

<div class="container-animals-idx">
    <h2>Some animals you can find</h2>
    <div class="img-animals-idx">
        <a href="{{ url_for('main.animals') }}"><img src="{{ url_for('static', filename='camel.jpg') }}" alt="camel" class="camel-idx" /></a>
        <a href="{{ url_for('main.animals') }}"><img src="{{ url_for('static', filename='polar-bear.png') }}" alt="polar bear" class="polar-bear-idx" /></a>
        <a href="{{ url_for('main.animals') }}"><img src="{{ url_for('static', filename='deer.jpg') }}" alt="deer" class="deer-idx" /></a>
        <a href="{{ url_for('main.animals') }}"><img src="{{ url_for('static', filename='stingray.jpg') }}" alt="stingray" class="stingray-idx"/></a>
    </div>
</div>
{% endblock %}
