html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #e9ded6;
}

nav {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: burlywood;
    position:fixed;
    top:0;
    width:100%;
}

.logo{
    height: 75px;
    padding-left: 9.5rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.barnav{
    display:grid;
    grid-template-columns: repeat(5,auto);
    margin-right: 9.5rem;
    list-style-type: none;
}

.barnav li{
    padding: 10px 20px;
}

.barnav li:hover{
    cursor: pointer;
    background:#9cd48a;
}

.content{
    height: 1100px;
    width: 100rem;
    /* margin-top: 60px; */
    margin: 0 auto;
}

.container-title {
    background-image: url('../static/camello.jpg');
    background-size: contain;
    position: center;
    height: 500px;
    margin-top: 60px;
}

.title {
    padding: 10rem;
    font-size: 5rem;
}

.container-middle {
    margin-top: 6rem;
    flex-direction: row;
}

.middle title {
    flex-direction: column;
}

footer {
    background-color: #222;
    padding: 3rem;
    color:burlywood;
    margin-top: 2000px;
}

footer small {
    text-align: right;
}

footer p {
    margin: 0rem;
}

footer a {
    transition: color 0.2s ease;
    color: #e9ded6;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}