html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #e9ded6;
}

a {
    text-decoration: none;
    color: #27231d;
}

input {
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

li {
    list-style-type: none;
}



/* HEADER */
nav {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: burlywood;
    position:fixed;
    top:0;
    width:100%;
}

.logo {
    margin-left: 23rem;
}

.logo img{
    height: 75px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.barnav{
    display:grid;
    grid-template-columns: repeat(5,auto);
    padding-right: 23rem;
}

.barnav li{
    padding: 10px 20px;
    font-size: 17px;
}

.barnav li a{
    transition: color 0.2s ease;
    color: #27231d;
    text-decoration: none;
}

.barnav li a:hover {
    color:white;
}

.content{
    height: 3000px;
}
/* HEADER */



/* INDEX */
.container-title {
    background-image: url('../static/img-title.jpg');
    background-size: cover;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 150px;
}

.title {
    padding-top: 15rem;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #27231d;
}

.container-middle {
    background: #27231d;
    height: 500px;
    margin:auto;
}


.container-middle img {
    float: right;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 24rem;
    border-radius: 2em;
    width: 600px;
}


.container-middle h2 {
    color: #e9ded6;
    font-size: 50px;
    padding-top: 5rem;
    padding-left: 22rem;
}

.container-middle p {
    color: #e9ded6;
    margin-left: 22rem;
    margin-bottom: 5rem;
}

.container-animals-idx {
    margin-top: 10rem;
    margin-left: 22rem;
}

.container-animals-idx h2 {
    font-size: 50px;
    margin-left: 18rem;
    color: #27231d;
}

.img-animals-idx {
    margin-top: 60px;
}

.img-animals-idx img{
    width: 500px;
    border-radius: 2rem;
}

.camel-idx {
    margin-left: 40px;
}

.polar-bear-idx {
    margin-left: 90px;
}

.deer-idx {
    margin-left: 40px;
    margin-top: 50px;
}

.stingray-idx {
    margin-left: 90px;
    margin-top: 50px;
}
/* INDEX */



/* SIGNUP */
.container-signup {
    margin: 12rem 40rem 0 40rem;
    padding-top: 4rem;
    padding-left: 8rem;
    box-sizing: content-box;
    background-color: #27231d;
    border-radius: 1rem;
    height: 17%;
}

.container-signup h2 {
    font-weight: 700;
    font-size: 45px;
    padding-left: 2rem;
    color: #e9ded6;
}

.signup-boxed {
    padding-left: 3rem;
}

.signup-boxed input {
    height: 40px;
    width: 250px;
    background-color: #645f56;
    color: #e9ded6;
    padding-left: 5px;
    font-size: large;
    border-radius: 5px;
    border: none;
}

::placeholder {
    color:#e9ded6;
    font-family: 'Work Sans', sans-serif;
}

.submit-signup {
    margin-left: 5rem;
}

.submit-signup button {
    width: 100px;
    height: 30px;
    background-color: burlywood;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    color: #27231d;
    border-radius: 5px;
    border-color: burlywood;
    transition: border-color 0.2s;
    cursor: pointer;
    
}

.submit-signup button:hover {
    border-color: whitesmoke;
}

.notification-signup {
    margin-top: 20px;
    margin-left: 2.25rem;
    color:#e9ded6;
	font-size: 20px;
	font-weight: bold;
}
/* SIGNUP */



/* LOGIN */
.container-login {
    margin: 12rem 40rem 0 40rem;
    padding-top: 5rem;
    padding-left: 8rem;
    box-sizing: content-box;
    background-color: #27231d;
    border-radius: 1rem;
    height: 15%;
}

.container-login h2 {
    font-weight: 700;
    font-size: 50px;
    padding-left: 6rem;
    color: #e9ded6;
}

.login-boxed {
    padding-left: 3rem;
}

.login-boxed input {
    height: 40px;
    width: 250px;
    background-color: #645f56;
    color: #e9ded6;
    padding-left: 5px;
    font-size: large;
    border-radius: 5px;
    border: none;
}

.submit-login {
    margin-left: 4.75rem;
}

.submit-login button {
    width: 100px;
    height: 30px;
    background-color: burlywood;
    font-size: large;
    color: #27231d;
    border-color: burlywood;
    transition: border-color 0.2s;    
}

.submit-login button:hover {
    border-color: whitesmoke;
}

.container-login a {
    padding-left: 3rem;
    color: #e9ded6;
	font-size: 20px;
    transition: all 0.2s ease;
}

.container-login a:hover {
    color: whitesmoke;
}

.notification-login {
    margin-top: 20px;
    color:#e9ded6;
	font-size: 20px;
	font-weight: bold;
}
/* LOGIN */



/* ACTIVITY */
.activity-manager {
    margin-top: 15rem;
    margin-left: 40rem;
}

.title-act {
    font-size: 50px;
    padding-left: 8rem;
}

.activity-manager h3 {
    font-size: 30px;
}

.activity {
    margin-top: 50px;
}

.activity p {
    font-size: 20px;
    padding-left: 3.3rem;
}

.add-activity, .sch-activity, .mark-activity {
    margin-top: 5rem;
}

.activity-manager li {
    font-size: 20px;
    margin: 10px;
}

.activity-manager input {
    height: 20px;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

.activity-manager textarea {
    height: 100px;
    width: 400px;
    border-width: 1px;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.add ::placeholder{
    font-weight: 500;
    color:#27231d;
}

.min-age, .price, .hours, .places {
    width: 50px;
}

.notification-add {
    margin-left: 48px;
    margin-top:20px;
    font-size: 20px;
}

.activity-manager select {
    height: 25px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.manager-only {
    font-size: 50px;
}
/* ACTIVITY */



/* ANIMAL */
.container-desert {
    background-color:darkorange;
    height: 830px;
    margin-top: 60px;
    margin-bottom: 150px;
} 

.camel img {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.camel p {
    padding-left: 5ex;
    margin-bottom: 20px;
} 

.snake img {
    height: 300px;
    padding-left: 10ex;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.snake p {
    padding-left: 10ex;
    margin-bottom: 20px;
} 

.container-aquatic { 
    background-color: aqua;
    height: 830px;
    margin-top: 60px;
    margin-bottom: 150px;
} 

.stingray img {
    height: 300px;
    padding-right: 200px;
    margin-top: 6px;
    margin-bottom: 20px;
} 

.stingray p {
    margin-bottom: 1px;
} 

.dolphin img {
    height: 300px;
    padding-left: 10ex;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.dolphin p {
    padding-left: 10ex;
    margin-bottom: 20px;
} 

.container-ice {
    background-color: ghostwhite;
    height: 830px;
    margin-top: 60px;
    margin-bottom: 150px;
} 

.polar-bear img {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.polar-bear p {
    padding-left: 5ex;
    margin-bottom: 20px;
} 

.penguin img {
    height: 300px;
    padding-left: 10ex;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.penguin p {
    padding-left: 10ex;
    margin-bottom: 20px;
} 

.container-forest {
    background-color: darkgreen;
    height: 870px;
    margin-top: 60px;
    margin-bottom: 170px;
} 

.deer img {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.deer p {
    padding-left: 5ex;
    margin-bottom: 20px;
} 

.falcon img {
    height: 300px;
    padding-left: 10ex;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.falcon p {
    padding-left: 10ex;
    margin-bottom: 20px;
} 
/* ANIMAL */


/* FOOTER */
footer {
    background-color: #27231d;
    padding: 3rem;
    color: burlywood;
    margin-top: 2000px;
}

footer small {
    text-align: right;
}

footer p {
    margin: 0rem;
}

footer a {
    transition: color 0.2s ease;
    color: #e9ded6;
    text-decoration: none;
}

footer a:hover {
    color: #e9ded6;
}
/* FOOTER */



