html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #e9ded6;
}

a {
    text-decoration: none;
    color: #27231d;
}


nav {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: burlywood;
    position:fixed;
    top:0;
    width:100%;
}

.logo {
    margin-left: 20rem;
}

.logo img{
    height: 75px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.barnav{
    display:grid;
    grid-template-columns: repeat(5,auto);
    padding-right: 20rem;
    list-style-type: none;
}

.barnav li{
    padding: 10px 20px;
    font-size: 17px;
}

.barnav li a{
    transition: color 0.2s ease;
    color: #27231d;
    text-decoration: none;
}

.barnav li a:hover {
    color:white;
}


.content{
    height: 1100px;
    width: 79rem;
    margin: 0 auto;
}

.container-title {
    background-image: url('../static/img-title.jpg');
    background-size: cover;
    height: 500px;
    margin-top: 60px;
}

.title {
    padding-top: 15rem;
    font-size: 5rem;
    text-align: center;
}

.container-middle {
    margin-top: 10rem;
}

.container-activity img {
    float: right;
    border-radius: 2em;
}

.text-activities {
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.text-activities h4 {
    font-size: 42px;
}

.container-animals {
    margin-top: 20rem;
}

footer {
    background-color: #27231d;
    padding: 3rem;
    color:burlywood;
    margin-top: 2000px;
}

footer small {
    text-align: right;
}

footer p {
    margin: 0rem;
}

footer a {
    transition: color 0.2s ease;
    color: #e9ded6;
    text-decoration: none;
}

footer a:hover {
    color: w;
}